

/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-review-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#review-msg {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#review-submit {
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
}

.review-display {
    margin-top: 20px;
    min-height: 100vh;
}

.review-display .user-review {
    background-color: #d3d3d3;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.review-display .user-review p {
    margin: 0;
    padding: 5px 0;
} */
.reviews{
    margin-top: 2%;
}
.review-display hr {
    border: 1px solid #ccc;
    margin: 10px 0;
}


/* review.css */

#review-profile {
   display: flex;
   align-items: center;
    
}


#review-username {
    color: rgb(70, 70, 70);
    margin-left: 1%;
    font-size: 1.2rem;
    font-weight: 700;
   
}
#review-profile-image{
    height: 1.5rem;
    
}
#review-msg {
    max-width: 80%;
    color: gray;
}