.journal-image {
    height: 300px;
    width: auto;
    margin-top: 1em;
  }
  
  .journal-entries {
    margin-left: 0px;
    width: 90%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
  }
  