@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --theme: #F5C518;
    --grey: rgba(128, 128, 128, 0.247);
    --black: black;
    --white: white;
}

body{
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.home-section-container{
    margin-left: 50px;
    margin-top: 80px;
}

.card-slider{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 20px;
}


.card-slider::-webkit-scrollbar{
    display: none;
}


#fan-favourites{
    display: flex;
    /* background-color: yellow; */
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 20px;
    
    
}

#fan-favourites::-webkit-scrollbar{
    display: none;
}


.card{
    /* background-color: blue; */
    width: 180px;
    min-width: 200px;
    height: auto;
    background-color: var(--grey) ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.card a{
    text-decoration: none;
    color: white;
}

.card-text{
    padding: 10px;

}

.card-text label{
    display: flex;
    align-items: center;

}

.card-text label img{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.card-text label .starred-icon{
    margin-left: 30px;
}

.card img{
    width: 100%;
    height: 290px;
}

.card h3{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    height: 45px;
    /* background-color: blue; */
}

.card-text button{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: var(--grey);
    border: 0;
    color: rgba(74, 167, 255, 0.774);
    font-weight: 600;
    font-size: 15px;
    display: flex; 
    align-items: center;
    justify-content: center ;
    border-radius: 5px;
}

.card-text button span{
    font-size: 25px;
    margin-right: 5px;
    font-weight: 200;
}

.card-trailer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.card-trailer-container img{
    height: 15px;
    width: 15px;
}

.info-icon{
    height: 25px !important;
    width: 25px !important;
    /* background-color: #F5C518; */
}

.card-trailer{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
}

.card-trailer label{
    margin-left: 10px;
}



.fan-favourites-container{
    margin-left: 30px;
    /* background-color: aqua; */
}

.home-section-headers{
    /* background-color: aqua; */
}
.home-section-headers h2{
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    /* padding-left: 10px; */
    /* border-left: 6px solid var(--theme); */

}


.home-section-headers label{
    color: rgb(165, 165, 165);
    font-size: 600;
    margin-top: 10px;
}
.home-section-headers img{
    height: 25px;
}

.header-left{
    height: 30px;
    width: 5px;
    background-color: var(--theme);
    border-radius: 10px;
    margin-right: 10px;
}


.celeb-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.celeb-card img{
    border-radius: 110px;
    height: 200px;
    width: 200px;
}

.celeb-card label{
    margin-top: 10px;
}



.home-header{
    color: var(--theme);
    font-size: 2rem;
}

.watch-container{
    display: flex;
    margin-top: 20px;
}

.watch-container button{
    height: 40px;
    width: 250px;
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 800;
}

.watch-container button:hover{
    background-color: var(--grey);
    cursor: pointer;
}



/*//////////////// box office/////////////////// */

.box-office-container{
    display: flex;
    width: 90%;
    margin-top: 30px;
    gap: 20px;
    /* background-color: aqua; */
}

.box-office-left-container,.box-office-right-container{
    flex: 1;
}

.box-office{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}

.box-office-gradient{
    /* background-color: red; */
    background-image: linear-gradient(to left,rgba(49, 49, 49, 0.438),black);
}

.box-office label{
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

.box-office-line{
    width: 1px;
    height: 40%;
    background-color: var(--theme);
    margin-right: 10px;
}

.box-office img{
    height: 100%;
    /* filter: invert(1); */

}

.box-office-text{
    height: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* background-color: #F5C518; */
}

.box-office-text h3{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 17px;


}

.box-office-text label{
    font-size: 13px;
    font-weight: 700;
    color: var(--grey);
    margin: 0;
    padding: 0;
    margin-top: -5px;
}




/*/////////////////////////// watchlist//////////////// */
.watchlist-home{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 90%;
    padding: 40px;
}

.watchlist-home img{
    height: 50px;
    margin-bottom: 20px;
}

.watchlist-home p{
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.watchlist-home label{
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: var(--white);
}


.watchlist-home button{
    /* width: 100%; */
    height: 40px;
    margin-top: 30px;
    background-color: var(--grey);
    border: 0;
    color: rgb(21, 106, 185);
    font-weight: 700;
    font-size: 15px;
    display: flex; 
    align-items: center;
    justify-content: center ;
    border-radius: 5px;
    padding: 15px 20px;
}



#display-watchlist{
    /* background-color: blue; */
    display: none;
    text-align: center;
    /* height: 200px; */
    /* background-color: blue; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* gap: 20px; */
    margin-top: 30px;
}

#display-watchlist .card{
    margin-right: 20px;
}

#display-watchlist::-webkit-scrollbar{
    display: none;
}

#watchlist-home{
    display: none;
}