
.sub-conatiner{
    display: flex;
}
.movie-per-date{
    flex: 2;
}
.sideSection {
    flex: 1;
    padding: 4%;
   
    
}
.sideSection h2{
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-bottom: 3%;
}

.sideSection h4{
    padding-bottom: 7%;
}
.most-popular h1{
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 500;
    

}
.most-popular h2{
    font-size: 1.5rem;
    
}
.most-popular p{
    padding-bottom: 5%;
    color: gray;
}

.header-left{
    height: 40px;
    width: 5px;
    background-color: var(--theme);
    border-radius: 10px;
    margin-right: 10px;
}
.explore-links a {
    /* Your styles for links within h4 */
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 1.3rem;

    margin-bottom: 5px;
    font-weight: 700;
 
   
    /* Add any additional styles you want for the links */
}

.explore-links i{

    font-size: 1.5rem;
}



.explore-links p{
 padding-bottom: 3%;
}

.explore-links a i {
    margin-left: auto; /* Move the icon to the right */
    transition: color .2s ease; /* Smooth transition for color change */
}





.explore-links a:hover i {
    color: gold; /* Change icon color on hover */
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.share-container {
    font-size: 1.1rem;
    font-weight: 600;
}

#shareButton  {
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: background-color 0.7s ease-in-out,color 0.7s ease-in-out forwards;
    
}


#shareButton:hover {
   /* color:goldenrod; */
   background-color: rgba(194, 194, 194, 0.322);
    border-radius: 10%;
 
}

.popup-box {
    display: none;
    position: absolute;
    background-color: #0c0c0c;
    border-radius: 6px;
    padding: 10px;
  
}

.popup-box a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: .8rem;
}




#moviePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c0c0c;
    border-radius: 6px;
    padding: 10px;
    color: aliceblue;
    z-index: 2; /* Increased z-index to appear on top of the overlay */
    height: 70%;
    width: 40%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    z-index: 5;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c0c0c27;
    z-index: 1;
}

#moviePopup {
 
    display: none;
}

.popup-visible {
    display: block !important; 
}


#moviePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c0c0c;
    border-radius: 6px;
    padding: 10px;
    color: aliceblue;
    z-index: 1;
    height: 70%;
    width: 40%;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #0c0c0c27;
    z-index: 1;
}

.popup-inner {
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.movie-content-title-genre{
    
    margin-left: 14%;
    
}



.popular-movies-maincontainer{
    display: flex;
}
.popular-movies {
    min-height: 7.5rem;
   
}

.info{
    font-size: 1.5rem;
    color: rgb(22, 22, 255);
	cursor: pointer;
    
   
    align-self: center;
    
}
.info i{
    padding-top: .2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-bottom: .7rem;
    transition: background-color 0.7s ease-in-out,color 0.7s ease-in-out forwards;

}
.info i:hover {
    
    background-color: rgba(0, 162, 255, 0.082);
    border-radius: 50%;
   
}

.sort-movies{
   display: flex;
   margin-left: 46%;
   margin-bottom: 2%;

}

#redirect{
    
    color: rgba(0, 0, 0, 0);
 
}



.sort-movies {
    position: relative;
    display: inline-block;
  }
  

  #dropdown {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #f1f1f1;
    color: #333;
  }
  

  #dropdown-list {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Style for each dropdown option */
  #dropdown-list option {
    padding: 12px 16px;
    display: block;
    width: 100%;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Show dropdown content on hover */
  .sort-movies:hover #dropdown-list {
    display: block;
  }
  
.movie-info{
    margin-left: 3%;
    min-width: 36rem;
    align-self: center;
    

}
.movie-info a{
    text-decoration: none;
    color: grey
}
.popular-movie-title{
    color: rgb(71, 71, 71) !important;
    font-weight: 700;
}
.popular-movie-title:hover{
    color:black !important;
}
.popular-dynamicRating {
   margin-left: 2%;
    justify-items: center;
}