@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

#heading h2,h1{
    margin:0%;
   

}
#heading h2{
    margin-left: 70px;
}
#heading p{
    margin-left: 70px;
}
#heading h1{
    font-weight: 300;
    margin-left: 80px;
}
#heading{
    margin-left: 100px;
    position: relative;
    margin-top: 50px;
    z-index: -10;
}
#heading hr{
    width: 35px;
    height: 3px;
    background-color: #f5c518;
    rotate: 90deg;
    position: absolute;
    border-radius: 30%;
    top: 40%;
    margin-left: 50px;
   
}
#heading p{
    color: grey;
}
#bigBox{
    margin-top: 50px;
    width: 800px;
  
    margin-bottom: 10px;
    margin-left: 100px;
    border:1px solid rgba(128, 128, 128, 0.405);
    border-radius: 10px;
    
}
.celebrityBox{
    width:780px ;
    height: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
    /* box-shadow: -1px 1px 1px 0px; */
    margin: 10px;
}

.celebrityBox .details{
    width: 600px;
    margin: 30px;
}

#shareIcon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 17px;
    right: 45px;
   
}
#shareText{
    
    position: absolute;
    top: 20px;
    right: 80px;
    font-size: 20px;
}   
.celebrityBox{
    position: relative;
}
.celebrityBox a{
    color: black;
}
#lastCelebrityBox{
    border-bottom: none;
}
.celebIcon{
    width: 70px;
    height:70px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 15px;
}
.greenUpArrow{
    width: 5px;
}
.firstLine{
    margin-left: 100px;
    margin-top: 10px;
}
.secondLine{
    margin-left: 100px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 900;
    width: 30%;
}

.secondLine:hover{
    opacity: 50%;
}
.thirdLine{
    font-size: 14px;
    margin-left: 100px;
    margin-top: 5px;
}
.fourthLine{
    margin-left: 100px;
    margin-top: 5px;
   
}

.fourthLine a{
    text-decoration: none;
    color: rgb(43, 113, 225)
}
.fourthLine a:hover{
    text-decoration: underline;
}
.plusIcon{
    width: 15px;
    height: 15px;
}
.plusIconDiv{
    position: absolute;
    top: 40%;
    right: 15px;
}
#mainContainer{
    position: relative;
    z-index: 1;
}
#rightContainer{
    position: absolute;
    top: 210px;
    right: 2%;
    
}
#rightContainer hr{
    width: 35px;
    height: 3px;
    background-color: #f5c518;
    rotate: 90deg;
    position: absolute;
    border-radius: 30%;
    margin-top: -30px;
    right: 98%;
    
}
#rightHeading{
    font-size: 40px;
    font-weight: bolder;
    
}
#rightSubHeading{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}


.firstLine {
    display: inline-flex;
    align-items: center; /* Align items vertically in the center */
  }

  .firstLineNumber,
  .greenUpArrow,
  .firstLineRandomNumber {
    margin: 0 5px; /* Add margin between elements */
  }

.contentButtons {
   
   margin-left: 760px;
   margin-bottom: -50px;
   
  }
  .compactView, .detailedView{
    
    display: inline-block;
    rotate: 90deg;
    margin: 30px;
    font-size: 30px;
  }

 
  #loadMoreButton{
   
    width: 100px;
    padding: 10px;
    border-radius: 1rem;
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-left: 780px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px ;


  }
  #loadLessButton{
 
    width: 100px;
    padding: 10px;
    border-radius: 1rem;
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-left: 780px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px ;
    margin-left: 100px;
    margin-top: -60px;

  }
  .shareButton{
    width: 100px;
  }