/* body {
    /* Basic styling for the body */
    /* font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
/* } */ */ */

.rating-icon {
    /* Styling for the rating icon */
    cursor: pointer;
    font-size: 24px;
    color: gray; /* Initially gray */
}

/* Styling for the modal */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.525); /* Semi-transparent black background */
    align-items: center;
    justify-content: center;
    
    z-index: 10;
}

/* Styling for the content inside the modal */
.modal-content {
    /* background-color: #fff; /* White background for the content */

    padding: 20px; 
    border-radius: 5px;
    text-align: center;
    width: 500px;
    background-color: rgb(34, 34, 34);
    color: white;
    justify-self: center;
    align-items: center;
    height: 250px;
}

.stars {
    /* Styling for the star rating container */
    cursor: pointer;
}

.star {
    /* Styling for individual stars (initially gray) */
    display: inline-block;
    font-size: 24px;
    font-size: xxx-large;
    color: gray;
    transition: color 0.3s; /* Smooth transition for color changes */
}

.ratepara{
    font-size: larger;
    font-weight: bolder;
    color: yellow;
    margin-left: 0px;
}

.moviename{
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

#selectedRating{
    color: white;
    font-size:large;
    margin-left: 0px;
    margin-top: 0px;
}

.submit{
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 30px;
    color: rgb(174, 174, 174);
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    font-weight: bold;
}

.submit:hover{
    background-color: rgb(133, 133, 133);
}

.closee{
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 30px;
    color: rgb(174, 174, 174);
    border-color: rgb(0, 0, 0);
    box-shadow: none;
    font-weight: bold;
}

.close:hover{
    background-color: rgb(133, 133, 133);

}