body{
    background-color: rgb(214, 214, 214);
}

.main-container{
 
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    min-height: 35rem;
}

.private {
    color: grey;
}

.dynamicGenre{

    font-size: .8rem;
    letter-spacing: .06rem;
    color: rgba(73, 73, 73, 0.699) !important;
	text-decoration: none;
}

#watchlistButton{
    color: rgb(230, 82, 82);
}