body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container{
    display: flex;
    height:70px;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 0 #565656;
}
.imdb-pro-logo{
    flex:2;
    margin-left: 30px;
    position:relative;
    left:0;
    flex: 1;
}
.login-container{

    position:relative;
    right:0;
    flex: 1;
    padding-right: 30px;
    text-align: right;
    margin-right: 30px;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main-logo{
    height: 70px;
}
hr{
    margin-top: 30px;
}
.header-subscription{
    padding-top: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: white;
}
  /* Styling for the popup container */
  .popup-container {
    display: none;
    position: fixed;
    max-height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
  }

  /* Styling for the overlay background */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19; /* Place it behind the popup container */
  }

  /* Styling for the close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .subscription-option{
    display: flex;
    padding: 0 100px 0 150px;
    
  }
  .premium-subscription {
    flex:1;
    color:white;
    max-width: 430px;
    max-height: 590px;
    text-align: center;
    margin: 50px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
  }
  .basic-plan{
    background-color: rgb(25, 25, 25);
    color:white;
    border-radius: 10px;
    flex:1;
    max-width: 430px;
    max-height: 590px;
    margin-right: -10px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
  }
  .premium-popular-tag{
    background-color:rgb(255, 102, 0);
    color: white;
    max-width: 100px;
    margin-left: 0px;

  }
  .premium-subscription-header{
    margin-left: -170px;
    font-weight: 700;
    font-size: 24px;
    min-height: 30px;
    
  }
  .small-heading-subscription-info{
    margin-left: -85px;
    padding: 10px;;
  }
  .premium-list{
    align-items: center;
    margin-left: 0px;
    width: 180px;
  }

  .premium-list li{
    margin-left: 0;
    padding-left: 0;
  }


  button{
    background-color: rgb(255, 174, 0);
    color:black;
    border-radius: 7px;
    border-width: 0;
    height: 30px;
    width: 300px;
    font-weight: 600;
    box-shadow: 0 0 4px 0 black;
    margin:10px;
  }
  .inner-box-basic-plan{
    align-items: center;
    padding:20px;
  }
  .basic-plan-list{
    margin-left: -25px;
    min-height: 70px;
  }
  .popup-container{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 black;
  }
  .username-input,
  .password-input
  {
    min-width: 300px;
    margin-left: -80px;
  }
  #username,
  #password{
    width: 200px;
    height: 30px;
  }
  .return-page{
    /* background-color: blue; */
    align-items: center;
    margin-top: 1000px;
    padding: 0 0 100px 630px;
    font-weight: 400;
    font-size: large;
  }
  .error-input {
    border: 2px solid red;
  }
  #background-video{
    /* width: 100vw; */
    position:relative;
    height: 100%;
    width:100%;
    margin-top: -10px;
    object-fit: cover !important;
  
  }
  #popup{
    color: black;
    z-index:200;
    width:300px;
    height:300px;
  }
  #return-home{
    align-items: center;
    position:absolute;
    right:39%;
    top:130%;
    box-shadow: 0px 4px 7px 0px black;
  }
  #goback-btn{
    
   margin-left:40px ;
   margin-top: 100px !important;
  }

  #background-video-container{
    position: fixed;
    left:0;
    top:0;
    padding-top: 93px;
    z-index: -1;
    justify-content: center;
    object-fit:cover;
    overflow:hidden;
    height:100vh;
    width:100vw;
  }
  .premium-subscription-conatiner{
    margin-left:35px;
    padding:20px;
  }
  .image-premium{
    margin-left: -38px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;;
  }
  .premium-list li{
    margin-left:-50px;
  }
#basic-image{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}
#getpayment{
  max-height: 300px;
}
