@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --theme: #F5C518;
    --grey: rgba(128, 128, 128, 0.247);
    --black: black;
    --white: white;
}

body{
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.home-section-container{
    margin-left: 30px;
    margin-top: 40px;
}

.card-slider{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 20px;
}


.card-slider::-webkit-scrollbar{
    display: none;
}


#fan-favourites{
    display: flex;
    /* background-color: yellow; */
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 20px;
    
    
}

#fan-favourites::-webkit-scrollbar{
    display: none;
}


.card{
    /* background-color: blue; */
    width: 180px;
    height: auto;
    background-color: var(--grey) ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.card-text{
    padding: 10px;

}

.card-text label{
    display: flex;
    align-items: center;

}

.card-text label img{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.card-text label .starred-icon{
    margin-left: 30px;
}

.card img{
    width: 180px;
    height: 250px;
}

.card h3{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    height: 45px;
    /* background-color: blue; */
}

.card-text button{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: var(--grey);
    border: 0;
    color: rgb(21, 106, 185);
    font-weight: 700;
    font-size: 15px;
    display: flex; 
    align-items: center;
    justify-content: center ;
    border-radius: 5px;
}

.card-text button span{
    font-size: 25px;
    margin-right: 5px;
}


.fan-favourites-container{
    margin-left: 30px;
    /* background-color: aqua; */
}

.home-section-headers{
    /* background-color: aqua; */
}
.home-section-headers h2{
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    /* padding-left: 10px; */
    /* border-left: 6px solid var(--theme); */

}


.home-section-headers label{
    color: rgb(165, 165, 165);
    font-size: 600;
    margin-top: 10px;
}
.home-section-headers img{
    height: 25px;
}

.header-left{
    height: 30px;
    width: 5px;
    background-color: var(--theme);
    border-radius: 10px;
    margin-right: 10px;
}


.celeb-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celeb-card img{
    border-radius: 110px;
    height: 200px;
    width: 200px;
}

.celeb-card label{
    margin-top: 10px;
}



.home-header{
    color: var(--theme);
    font-size: 2rem;
}

.watch-container{
    display: flex;
    margin-top: 20px;
}

.watch-container button{
    height: 40px;
    width: 250px;
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 800;
}

.watch-container button:hover{
    background-color: var(--grey);
    cursor: pointer;
}