
#heading{
    margin-left: 120px;
}
#firstBox{
    border: 1px solid rgba(243, 232, 232, 0#928);
    padding: 15px;
    width: 50%;
    margin-left: 110px;
    overflow: hidden;
    margin-top: 50px;
    height: 250px;
}
#firstImage{
    width: 150px;
    height: 150px;
}
#firstNews{
   
    
    display: flex;
  
}
hr{
    rotate: 90deg;
    width: 40px;
    margin-left: 90px;
    margin-top: -45px;
    height: 3px;
    background-color: #f5c518;
    border-radius: 50px;

}

#firstTitle{
 
 
 font-size: 16px;
 font-weight: 900;
}
#firstTitle:hover{
 text-decoration: underline;
}
#firstContent{
 flex: 0;
 flex: 1;
 margin-left: 20px;
 margin-top: -20px;
}
#firstArticle{
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
}

#arrowOne{
    width: 15px;
    height: 15px;
}
#arrowTwo{
    width: 10px;
    height: 10px;
    color: #0e63be;
}
a{
    color: #0e63be;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#bottomDiv{
    border: 1px solid rgba(243, 232, 232, 0#928);
    padding: 15px;
    width: 50%;
    height: 60px;
    margin-left: 110px;
    position: relative;
}
#bottomDiv p{
    position: absolute;
    top: 25%;
    margin-left:167px ;
}
#optionButtonHorizontal{
 
 width: 20px;
 height: 10px;
 margin: 0;
}
#optionButtonVertical{
    
    rotate: 90deg;
    width: 25px;
    height: 10px;
   
   
}
#horizontalButton{
    position: absolute;
    top: -1%;
    left: 20%;
    border: none;
    padding: none;
    background-color: white;
    margin: none;
   
   
}
#verticalButton{
    position: absolute;
    left: 95%; 
    border: none;
    background-color: white;
    padding: none;
}
#articleOptions{
 /* background-color: #0e63be; */
 width: 150px;
position: absolute;
top: 40%;
right: 2%;
padding: 10px;

}

#articleOptions a{
    color:black;
    margin: 20px;
    border-bottom: black;
   

}