#recent-movies .card_image{
    width: 200px;
    height: 250px;
}
#recently-viewed{
    background-color: black;
}
h3{
    color: white;
}
#recent-movies .card h4{
    color: white;
}
#recent-movies{
    display: flex;
    flex-wrap: wrap; 
}
