body{
  background-color: black;
  color: white;
}
button{
  background-color: black;
  border-color: white;
  color: white;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
button:hover{
  background-color: rgb(32, 31, 31);
}

.imdb-card {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
  }

  .imdb-card img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ddd;
  }

  .imdb-card-body {
      padding: 20px;
  }

  .imdb-card-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
  }

  .imdb-card-description {
      color: #555;
      margin-bottom: 10px;
  }

  .imdb-card-button {
      color: #fff;
  }

  section {
    padding: 20px;
  }
  
  /* Add space between cards */
  .card {
    margin-bottom: 20px;
  }

  .ipc-tabs {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
}

.ipc-tab {
    display: inline-block; /* Display list items inline */
    margin-right: 10px; /* Adjust spacing between items if needed */
}

.ipc-tabs__indicator {
    display: none; /* Hide the indicator if needed */
}

nav{
    color: white;
    background-color: black;
}


a{
  color: white;   border-bottom: 2px yellow;
}


.what-to-watch-tab{
  /* background-color: aqua;   */
  display: flex;
  list-style-type: none;

  margin-left: 110px;
}

.what-to-watch-tab li{
  padding: 0;
  margin: 0;
  /* margin-left: 40px; */
  padding: 10px 20px;
  /* width: 150px; */
  display: flex;
  justify-content: center;
}

.active-tab{
  border-bottom: 2px solid yellow;
}



.cardbutton{
  width: 70px;
  height: 30px;
}




.cards{
  width: 180px;
    min-width: 200px;
    height: auto;
    background-color: var(--grey) ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cards img{
  width: 100%;
  height: 250px;
}

#firstlist{
  display: flex;
  overflow-x: scroll;
  /* overflow-x: hidden; */
  gap: 30px;
}

#firstlist::-webkit-scrollbar{
  display: none;
}

#cardbody{
  background-color: #131313;
  /* height: 350px; */
  width: 2000px;
  display: flex;
  overflow-y: hidden;
  padding: 10px;
  gap: 30px
  ;
}

#cardbody::-webkit-scrollbar{
  display: none;
}

.row{
  display: flex;
  gap: 20px;
}

h1{
  font-weight: normal;
}

a{
  font-weight:600;
  font-size:70%;
  text-decoration: none;
}

.maincontainer{
  margin-left: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#mainheading{
  margin-left: 150px;
}

li{
  margin-left: 100px;
}

li:hover{
  background-color: rgb(32, 31, 31);
}


.streamingguides h2, .fanfavourites h2,
.recomendations h2, .mostpopular h2{
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  height: 30px;
}

.header-line{
  width: 5px;
  height: 100%;
  background-color: yellow;
  margin-right: 10px;
  border-radius: 10px;
}


.b2,.b4{
  margin-left: 20px;
}

.b1,.b2{
  margin-bottom: 15px;
}
.button-p{
  margin-left: 45px;
}

