@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: white;
}

#mainHeading{
    text-align: center;
    color:black;
}

#searchBoxDiv{
    text-align: center;
}

#searchBox{
  width: 200px;
  
  height: 30px;
  background-color: white;

}

#searchButton{
  width: 100px;
  height: 30px;
  box-shadow: 0px 0px 0px 2px;
  
 
}
#bigBox {
  
  padding: 20px;
}

.smallBox {
 position: relative;
 width: 1000px;
 height: 300px;
 border: 1px solid blue;
 margin: 20px;
 margin-left: 200px;
 box-shadow: 2px 2px 2px 2px;
}

.poster {
  width: 200px; 
  height: 250px; 
  margin: 20px;
  border: 1px solid orange;
}

.title{
  position: absolute;
  top: 5%;
  left: 25%;
  font-size: 30px;
}
.overview{
  position: absolute;
  top: 25%;
  left: 25%;
  margin-top: 10px;
}
.releaseDate{
  position: absolute;
  top: 55%;
  left: 25%;
}
.popularity{
  position: absolute;
  top: 65%;
  left: 25%;
}
.voteCount{
  position: absolute;
  top: 75%;
  left: 25%;
}

.text {
  
  color: black;
}

.poster img{
  width: 200px;
  height: 250px;

}
#errorBox{
  color: rgba(255, 0, 0, 0.576);
  text-align: center;
}
#searchFilterDiv{
  
  position: absolute;
  top: 226px;
  left: 450px;
  color: aliceblue;
  
  
}
#searchFilter{
  height: 34px;
  border: none;
  outline: none;
  
}
